{% extends 'base.html' %}
{% block title %}WebGame{% endblock %}
{% block content %}
<p>
<h1>Qual jogo deseja jogar?</h1>
</p>
<p>
<form class="row g-3" action="/gameplay" method="post">
    <div class="col-12">
        <div class="col-md-4">
            <label for="inputEmulator" class="form-label">Console</label>
            <select id="inputEmulator" name="emulator" class="form-select">
                <option selected disabled>Escolha um console...</option>
                {% for emulator in context.emulators %}
                <option value="{{ emulator.description }}">{{ emulator.description }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="col-md-4">
            <label for="inputRom" class="form-label">Game</label>
            <select id="inputRom" name="rom" class="form-select">
                <option selected disabled>Escolha um game...</option>
            </select>
        </div>
    </div>    
    <div class="col-12">
        <button type="submit" class="btn btn-primary" disabled>Iniciar</button>
    </div>
</form>
</p>
<script src="/static/script/index.js"></script>
{% endblock %}